[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pydeck = "*"
geopandas = "*"
streamlit-modal = "*"
folium = "*"
geemap = "*"
localtileserver = {git = "https://github.com/banesullivan/localtileserver.git"}
streamlit-folium = "*"
rasterio = "*"
leafmap = "*"
vega-datasets = "*"
fastparquet = "*"
mplleaflet = "*"
imageio = "*"
lonboard = "*"
streamlit-leaflet = "*"
solara = "*"

[dev-packages]

[requires]
python_version = "3.10"
